body {
 background: #fff;
 text-align: center;
 margin: 0;
 padding: 0;
}

#wrapper {
 text-align: left;
 width: 1000px;
 margin: 0 auto;
}

#header {
 background: #000;
 font-family: Optima, Arial, sans-serif;
 font-weight: bold;
 padding: 0 0 5px 0;
 color: #fff;
}

#header h1 {
 height: 147px;
 line-height: 147px;
 margin: 0;
 padding: 0;
 padding-left: 85px;
}

#header h1 span{
 display:inline;
}


#console {
  float:right;
  width:500px;
 
 background: #eee;
 margin: 10px;
}

#console div.jquery-console-inner { 
 width:100%;
 height:400px; 
 margin: 10px 10px;
 overflow:auto; 
 text-align:left;
 line-height: 1.2em;
}
#console div.jquery-console-message-value {
  color:#0066FF; 
  font-family:monospace;
  padding:0.1em; 
}
#console div.jquery-console-welcome
 {
  font-family:monospace;
  padding:0.1em; 
}
#console div.jquery-console-prompt-box {
 color:#333; font-family:monospace; 
}
#console div.jquery-console-focus span.jquery-console-cursor {
 background:#333; color:#eee; font-weight:bold;
}
#console div.jquery-console-message-error {
 color:#ef0505; font-family:monospace;
 padding:0.1em; 
}
#console div.jquery-console-message-success {
 color:#187718; font-family:monospace;
 padding:0.1em; 
}
#console span.jquery-console-prompt-label { 
 font-weight:bold;
}


#buttons {
text-align: left;
 width: 620px;
 margin: 0 auto;
}
#buttons a { 
 color: #fff;
 font-family: Optima, Arial, sans-serif;
 padding: 0em 1em;
 font-weight:normal;
}

#buttons a.last {
 margin-right: 0;
}

#buttons a:hover {
 color: #fff;
 cursor: pointer; 
 background-color: #888888;
}

#changer { 
float:left;
width:440px;
 margin: 10px;
 padding: 0.25em 0.5em 0.25em 0.5em;
 background: #E8E8FF;
}

#changer h3 {
  color: #555;
}

#changer p {
 background: transparent
 font-family: serif;
 color: #262680;
}

#changer code {
  background-color: #fff;
  white-space: pre;
  color: #444;
  font-family: monospace;
  padding: 0.1em 0.25em 0.2em 0.25em;
}

div#tuttext {
}

div.continue {
 width: 100%;
 text-align: center;
 padding-top: 0.5em; 
}

div.footer { 
 text-align: center; 
}

