<h2>Quick: An Introduction to Racket with Pictures</h2>

<p>
This tutorial provides a brief introduction to the Racket programming language by using one of its picture-drawing libraries (see <a href="http://docs.racket-lang.org/quick/">the original tutorial</a>).
</p>

<p>
  You can type <code class="expr">next</code> to skip forward, <code class="expr">back</code> to return to the previous step, and <code class="expr">restart</code> to get back to the beginning. Let's get started: type <code class="expr">next</code>.
</p>