<p>Congratulations - you just defined your first Racket function. Many more will follow!</p>

<p>
  <code>define</code> takes the name of the function, then the list of arguments, and then the body of the function.
  I told you that a Racket program is made of lists, right?
  The entire <code>define</code> is a list, and the function body is also a list.
</p>

<p>
  Oh, sorry for talking so long - you probably want to try out your brand new function!
  Type <code class="expr">(square 10)</code>.
</p>
