<h2>Where to Go From Here</h2>

<!--
<p>This introduction to Racket purposely avoids many of the traditional ways of introducing and distinguishing Lisp or Scheme: prefix arithmetic notation, symbols, quoting and quasiquoting lists, eval, first-class continuations, and the idea that all syntax is really just a lambda in disguise. While those are all part of Racket, they are not the main ingredients of day-to-day programming in Racket.</p>

<p>Instead, Racket programmers typically program with functions, records, objects, exceptions, regular expressions, modules, and threads. That is, instead of a “minimalist” language—which is the way that Scheme is often described—Racket offers a rich language with an extensive set of libraries and tools.</p>
-->

<p>If you are new to programming or if you have the patience to work through a textbook, we recommend reading <a href="http://www.htdp.org/">How to Design Programs</a>. If you have already read it, or if you want to see where the book will take you, then see <a href="http://docs.racket-lang.org/continue/">Continue: Web Applications in Racket</a>.</p>

<p>For experienced programmers, to continue touring Racket from a systems-oriented perspective instead of pictures, your next stop is <a href="http://docs.racket-lang.org/more/">More: Systems Programming with Racket</a>.</p>

<p>To instead start learning about the full Racket language and tools in depth, move on to <a href="http://docs.racket-lang.org/guide/">The Racket Guide</a>.</p>