<p class="bottom">
Welcome to Try Racket - a quick tour of Racket for absolute beginners.
</p>
<p class="bottom">
	 Here is our only disclaimer: this site is an introduction to Racket, not a Racket REPL. 
	 You won't be able to do everything in it that you could do in your local interpreter. 
	 <!-- Also, the interpreter deletes the data that you enter if you define too many things, or after 15 minutes. -->
</p>
<p class="bottom">
   "Try Racket" is written in Racket and JavaScript with
   Chris Done's <a href="https://github.com/chrisdone/jquery-console">jquery-console</a>.
   It borrows a lot of code and content from <a href="http://www.tryclj.com/">Try Clojure</a> and <a href="https://github.com/samth/paste.rkt">paste.rkt</a>.
</p>
